
vendor-prefixes ?= webkit moz o ms official

@import vendor

@import mixins
@import _fonts
@import _vars

@import status
@import diff

.clear
  clearfix()

body
  font-size 16px
  font-family segoe_light
  background-color c_grey1
  background linear-gradient(bottom left, c_grey1, c_grey2)
  background-repeat no-repeat
  background-attachment fixed
  color c_black
  margin 0
  padding 0


  > .header
    background-color c_white
    padding 0 3em
    .oc
      float left
      margin-top 0.5em
    .client
      float right
      width 7em
      height 3em
      margin-top 0.2em
      > svg > g > path.the-o
        fill talko_green


  > .container
    margin 2em
    min-width 20em
    min-height 40em
    background-color c_white
    overflow hidden
    padding 2em

    > form
      > .submit
        position fixed
        top 4em
        right 0em
        float right
        background-color c_black2
        cursor pointer
        color c_white
        transition transform 0.2s linear
        transform translate(1em, 0em)
        &:hover
          transform translate(0em, 0em)
        > input
          cursor pointer
          color c_white
          font-size 1em
          font-family segoe_normal
          border none
          outline none
          padding 0.5em 2em
          background-color c_black2

      > .field
        background-color c_grey1
        margin 1em 0
        border 0.1em solid c_grey3
        > .label
          padding 0.5em 1em
          font-family segoe_normal
          > span
            color c_grey3
        > .value
          background-color c_white
          padding 0.25em 0.5em
          > input, > textarea
            font-size 1em
            font-family segoe_light
            border none
            outline none
            padding 0.25em 0.5em
            min-width 15em
            width 99%
          > textarea
            height 5em

               
.fade
  position fixed
  top 0
  left 0
  width 100%
  height 100em
  background linear-gradient(bottom left, rgba(c_grey1, 0.9), rgba(c_grey2, 0.9))
  &.on
    display block
  &.off
    display none


